
<html>
	<head>
		<title>HOME</title>
	</head>
	<body bgcolor=0E1116>
			<p>
				<table border="1" width="60%" height="30%" cellpadding="5" bordercolor=0E1116 align="center">
					<tr bgcolor=640D14 align="center"><td style="color: #FFF8F0; font-family:Arial; font-size: 30"><a href="/Testing" style="color: #FFF8F0">Теставая</td></a></tr>
				</table>
					<table border="1" width="60%" height="30%" cellpadding="5" bordercolor=0E1116 align="center">
						<tr bgcolor=640D14 align="center"><td style="color: #FFF8F0; font-family:Arial; font-size: 30"><a href="/second" style="color: #FFF8F0">Сылочка номер 2</td></a></tr>
					</table>